asgiref==3.4.1
Django==3.2.7
djangorestframework==3.12.4
mysqlclient==2.0.3
pytz==2021.1
sqlparse==0.4.2
mxnet
torch
torchvision
transformers==3.0.2
gluonnlp
sentencepiece
pandas
xlrd
openpyxl
git+https://github.com/SKTBrain/KoBERT.git@master
scikit-learn==0.20.3
uwsgi
